.wrapper{
  margin-top: 40%;
}
@media (max-width: 576px) {
  .row {
    flex-direction: column;
    
  }

  .col-8,
  .col-4 {
    width: 100%;
    max-width: 100%;
    text-align: left !important;
  }

  .col-4 {
    margin-top: 10px;
  }

  .btn-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn-group button {
    flex: 1;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .btn-group {
    display: flex;
    gap: 5px;
  }

  .btn-group button {
    flex: 1;
  }
}

